@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        background-color: black;
        color: white;
    }
    
    a {
        color: #809fff;
    }
}
@media (prefers-color-scheme: light) {
    a {
        color: #4044ff;
    }
}
html {
    font-family: sans-serif;
}
@media only screen and (min-width: 900px) {
    html {
        margin: 2em 15em;
    }
}